<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @question.question_type_id %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @question.priority_id %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
