<h1>Listing offerings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Offering Type</th>
      <th>City</th>
      <th>Location</th>
      <th>Description</th>
      <th>Max Enrollment</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Deadline At</th>
      <th>Tuition Cost</th>
      <th>Deposit Cost</th>
      <th>Code</th>
      <th>User Enrollment ID</th>
      <th>Language Type</th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.name %></td>
        <td><%= offering.starts_at.strftime("%b %e, %Y %l:%m%p") %></td>
        <td><%= offering.ends_at.strftime("%b %e, %Y %l:%m%p") %></td>
        <td><%= offering.offering_type_id %></td>
        <td><%= offering.city_id %></td>
        <td><%= offering.location_id %></td>
        <td><%= offering.description %></td>
        <td><%= offering.max_enrollment %></td>
        <!-- #.strftime("%b %e, %Y %l:%m%p") this is how you display time differently look at http://apidock.com/ruby/DateTime/strftime-->
        <td><%= offering.created_at.strftime("%b %e, %Y %l:%m%p") %></td>
        <td><%= offering.updated_at.strftime("%b %e, %Y %l:%m%p") %></td>
        <td><%= offering.deadline_at.strftime("%b %e, %Y %l:%m%p") %></td>
        <td><%= offering.tuition_cost %></td>
        <td><%= offering.deposit_cost %></td>
        <td><%= offering.code %></td>
        <td><%= offering.user_enrollment_id %></td>
        <td><%= offering.language_type %></td>
        <td><%= link_to 'Show', offering %></td>
        <td><%= link_to 'Edit', edit_offering_path(offering) %></td>
        <td><%= link_to 'Destroy', offering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offering', new_offering_path %>


<% if current_user %>
  <% if current_user.user_enrollment%>
    <%= link_to "View application",user_enrollment_path(current_user.user_enrollment)%>
  <%else %>
    <%= link_to "Apply now",new_user_enrollment_path%>
  <% end %>
<% end %>
