<h1>Listing question_sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @question_sets.each do |question_set| %>
      <tr>
        <td><%= question_set.name %></td>
        <td><%= question_set.created_at %></td>
        <td><%= question_set.updated_at %></td>
        <td><%= link_to 'Show', question_set %></td>
        <td><%= link_to 'Edit', edit_question_set_path(question_set) %></td>
        <td><%= link_to 'Destroy', question_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question set', new_question_set_path %>
