<%= form_for(@user_enrollment) do |f| %>
  <% if @user_enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_enrollment.errors.count, "error") %> prohibited this user_enrollment from being saved:</h2>

      <ul>
      <% @user_enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :unsaved_changes %><br>
    <%= f.text_field :unsaved_changes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
